
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Arial", "Arial", monospace;
}



h1 {

  color: #FFFFFF;

  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18;
}

h2 {
  color: #FFFFFF;

  text-shadow: 0 0 10px #FFFFFF;
}

p {
  color: #FFFFFF;

  text-shadow: 0 0 10px #FFFFFF;
}

a.update{
 background: linear-gradient(to right,#37be00 ,#006681);
 background-color: #37be00;
 color: #fff;
 font-family: Trebuchet MS;
 font-size: 9px;
 font-weight: 800;
 font-style: italic;
 text-decoration: none;
 padding: 5px 58px;
 border: 0px solid #000;
 border-radius: 5px;
 display: inline-block;
 box-shadow: 0px 9px 15px 1px #2D2D2D;
}
a.update:hover{
 background: linear-gradient(to right,#60c551 ,#517e93);
 background-color: #60c551;
}
a.update:active{
 transform: scale(0.95);
}

a.ns{
 background: linear-gradient(to right,#1df630 ,#bbe033);
 background-color: #1df630;
 color: #5f5f5f;
 font-family: Trebuchet MS;
 font-size: 15px;
 font-weight: 800;
 font-style: italic;
 text-decoration: none;
 padding: 6px 50px;
 border: 0px solid #000;
 border-radius: 4px;
 display: inline-block;
}
a.ns:hover{
 background: linear-gradient(to right,#55f75d ,#c3e35e);
 background-color: #55f75d;
}
a.ns:active{
 transform: scale(0.95);
}

a.rand{
 background: linear-gradient(to right,#f6d31d ,#bbe033);
 background-color: #f6d31d;
 color: #5f5f5f;
 font-family: Trebuchet MS;
 font-size: 15px;
 font-weight: 800;
 font-style: italic;
 text-decoration: none;
 padding: 6px 50px;
 border: 0px solid #000;
 border-radius: 4px;
 display: inline-block;
}
a.rand:hover{
 background: linear-gradient(to right,#f7d855 ,#c3e35e);
 background-color: #f7d855;
}
a.rand:active{
 transform: scale(0.95);
}

a.seq{
 background: linear-gradient(to right,#0079ff ,#ff9600);
 background-color: #0079ff;
 color: #ffffff;
 font-family: Trebuchet MS;
 font-size: 15px;
 font-weight: 800;
 font-style: italic;
 text-decoration: none;
 padding: 6px 50px;
 border: 0px solid #000;
 border-radius: 4px;
 display: inline-block;
}
a.seq:hover{
 background: linear-gradient(to right,#518cff ,#ffa451);
 background-color: #518cff;
}
a.seq:active{
 transform: scale(0.95);
}

a.all{
 background: linear-gradient(to right,#ff0000 ,#b42020);
 background-color: #ff0000;
 color: #ffffff;
 font-family: Trebuchet MS;
 font-size: 15px;
 font-weight: 800;
 font-style: italic;
 text-decoration: none;
 padding: 6px 50px;
 border: 0px solid #000;
 border-radius: 4px;
 display: inline-block;
}
a.all:hover{
 background: linear-gradient(to right,#ff5151 ,#bd5656);
 background-color: #ff5151;
}
a.all:active{
 transform: scale(0.95);
}

a.adminButton{
 background: linear-gradient(to right,#373737 ,#575757);
 background-color: #373737;
 color: #fff;
 font-family: Trebuchet MS;
 font-size: 16px;
 font-weight: 800;
 font-style: normal;
 text-decoration: none;
 padding: 5px 40px;
 border: 0px solid #000;
 border-radius: 2px;
 display: inline-block;
text-shadow: 2px 2px 0px #000;
}
a.adminButton:hover{
 background: linear-gradient(to right,#606060 ,#737373);
 background-color: #606060;
}
a.adminButton:active{
 transform: scale(0.95);
}